* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    text-align: center;
    background: #000;
    color: white;
}

header {
   
    background: white;
    color: black;
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 10px 30px;
    background: white;
    color: black;
    text-align: center;
    flex-wrap: wrap;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.highlight {
    color: orange;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.hero {
    padding: 100px 20px;
    background: linear-gradient(to right, #ed1785, #f21808);

}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    padding-top: 40px;
}

.hero p {
    font-size: 1.2rem;
    opacity: 0.9;
}


.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.image-gallery img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.image-gallery img:hover {
    transform: scale(1.1);
}


.cta-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    background: white;
    color: #7f00ff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.cta-button:hover {
    background: rgb(211, 206, 206);
    color: #7f00ff;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .image-gallery {
        flex-direction: column;
        align-items: center;
    }

    .image-gallery img {
        width: 80%;
    }
}




.stats-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.stat-item {
    text-align: center;
}

.stat-item .icon {
    background: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.stat-item i {
    font-size: 24px;
    color: white;
}

.stat-item span {
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 10px 0px 10px 0px;
}

